# Question 5

Each row is a patient and the last column is the condition that the patient has. Do data exploration using Pandas and other visualization tools to understand what you can about the dataset.

## (a) How many patients and how many features are there?

In [4]:
import pandas as pd

df = pd.read_csv('/Users/aparnaaidith/Desktop/My Python Projects/BIG DATA/PatientData.csv',header=None,na_values=['?'])

In [5]:
no_of_patients = df.shape[0]
print("The total number of patients : ",no_of_patients)
no_of_features = df.shape[1]
print("The total number of features : ",no_of_features)

The total number of patients :  452
The total number of features :  280

## (b) What is the meaning of the first 4 features? See if you can understand what they mean.

 1) Feature - Age of the patient
 
 2) Feature - Gender of the patient
             0 : Male
             1 : Female
             
 3) Feature - Height of the patient
 
 4) Feature - Weight of the patient

## (c) Are there missing values? Replace them with the average of the corresponding feature column

In [6]:
df[13]

0        NaN
1        NaN
2       23.0
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8       84.0
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29     160.0
       ...
422      NaN
423      NaN
424    103.0
425      NaN
426    -84.0
427      NaN
428      NaN
429      NaN
430    -44.0
431      NaN
432      NaN
433      NaN
434      NaN
435      NaN
436      NaN
437      NaN
438      NaN
439      NaN
440    -90.0
441      NaN
442      NaN
443      NaN
444      NaN
445      NaN
446      NaN
447      NaN
448      NaN
449     84.0
450    103.0
451      NaN
Name: 13, Length: 452, dtype: float64

In [7]:
df.fillna(df.mean(),inplace=True)

In [8]:
df[13]

0      -13.592105
1      -13.592105
2       23.000000
3      -13.592105
4      -13.592105
5      -13.592105
6      -13.592105
7      -13.592105
8       84.000000
9      -13.592105
10     -13.592105
11     -13.592105
12     -13.592105
13     -13.592105
14     -13.592105
15     -13.592105
16     -13.592105
17     -13.592105
18     -13.592105
19     -13.592105
20     -13.592105
21     -13.592105
22     -13.592105
23     -13.592105
24     -13.592105
25     -13.592105
26     -13.592105
27     -13.592105
28     -13.592105
29     160.000000
          ...
422    -13.592105
423    -13.592105
424    103.000000
425    -13.592105
426    -84.000000
427    -13.592105
428    -13.592105
429    -13.592105
430    -44.000000
431    -13.592105
432    -13.592105
433    -13.592105
434    -13.592105
435    -13.592105
436    -13.592105
437    -13.592105
438    -13.592105
439    -13.592105
440    -90.000000
441    -13.592105
442    -13.592105
443    -13.592105
444    -13.592105
445    -13.592105
446    -13.592105
447    -13.592105
448    -13.592105
449     84.000000
450    103.000000
451    -13.592105
Name: 13, Length: 452, dtype: float64

## (d) How could you test which features strongly influence the patient condition and which do not?

In [9]:
df.corr()[279].sort_values(ascending = False)

279    1.000000
90     0.368876
4      0.323879
92     0.313982
102    0.282523
223    0.235488
233    0.218811
17     0.195198
29     0.183083
94     0.174346
52     0.173243
125    0.170670
191    0.165693
68     0.152534
239    0.151782
77     0.143284
152    0.141506
221    0.141274
56     0.141103
113    0.140502
119    0.132195
181    0.130360
149    0.130056
228    0.128490
65     0.127210
198    0.125873
249    0.124823
193    0.122928
107    0.121711
88     0.120726
         ...
8     -0.122003
208   -0.134657
161   -0.135180
202   -0.142731
252   -0.150610
172   -0.158536
247   -0.159612
260   -0.162153
270   -0.164321
168   -0.171763
1     -0.178080
242   -0.189458
162   -0.197555
19          NaN
67          NaN
69          NaN
83          NaN
131         NaN
132         NaN
139         NaN
141         NaN
143         NaN
145         NaN
151         NaN
156         NaN
157         NaN
164         NaN
204         NaN
264         NaN
274         NaN
Name: 279, Length: 280, dtype: float64